
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Rubik:ital,wght@1,300&display=swap');

 
/**Styling for body and main page **/
body {
    font-family: "Rubik", sans-serif;
    text-align: center;
    position: relative;
    font-size: 150%;
    background-color:white;
    margin: 0px;
    padding: 0px;
  }

  img {

  
    max-width: 100%;
    position: relative;
  }

  #questionButton {
    font-family: "Rubik", sans-serif;
    font-size: 100%;
    background-color: dimgray;
    border-radius: 2px;
    
  }